<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.assignment2application">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Assignment2Application">
        <activity
            android:name=".ViewVaccineBatchActivity"
            android:exported="true"
            android:label="View Vaccine Batch"
            android:parentActivityName=".adminMenu"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="PCVS Application">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".adminMenu"
            android:label="Admin Menu"
            android:exported="true" />
        <activity
            android:name=".RequestVaccination"
            android:label="Request Vaccination Page"
            android:exported="true" />
        <activity
            android:name=".signupPatient"
            android:label="Patient Sign Up Form"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".signupAdmin"
            android:label="Admin Sign Up Form"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".loginPage"
            android:label="Login Page"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:label="@string/add_vaccine_name"
            android:name=".AddNewVaccineType"
            android:exported="true"
            android:parentActivityName=".adminMenu">


        </activity>


        <activity
            android:label="@string/add_healthcare_center_name"
            android:name=".AddNewCenter"
            android:exported="true"
            android:parentActivityName=".adminMenu">

        </activity>

        <activity
            android:label="@string/record_new_vaccine_batch_name"
            android:name=".RecordNewVaccineBatch"
            android:exported="true"
            android:parentActivityName=".adminMenu">

        </activity>
        <activity
            android:name=".ManageVaccinationActivity"
            android:exported="true"
            android:label="Manage Vaccination"
            android:parentActivityName=".ViewVaccineBatchActivity"/>


    </application>

</manifest>